$color-lightBlue: #2998ff;
$color-darkBlue: #5643fa;
$color-darkBlue-2: blue;

$color-lightGreen: #7ed56f;
$color-darkGreen: #28b485;
$color-darkGreen-2: #088a5f;

$color-lightRed: #ff6363;
$color-darkRed: #ff0f0f;
$color-darkRed-2: #dd0000;

$color-lightGrey-1: #f7f7f7;
$color-lightGrey-2: #eee;

$color-darkGrey-1: #999;
$color-darkGrey-2: #777;
$color-darkGrey-3: #333;

$color-white: #fff;
$color-black: #000;

// -------------------

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;