
main{
    background-color: $color-lightGrey-1;
}

.section__shop{ 
    height: 100%;
    padding: 3rem;
    
}

.section__tabbar{
    height: 100%;
    padding: 1rem;
}

.section__shopping-cart{
    height: 100%;
    padding: 1rem;
}
